@using L2MVC.Service.Services;
@model PaginatedList<L2MVC.MVC.Models.VehicleMakeViewModel>

@{
}

<h1>Makers</h1>

@using (Html.BeginForm("Index", "VehicleMake", FormMethod.Get))
{
}

<form asp-action="Index" method="get">
	<div class="form-actions no-color">
		<p>
			Search: <input type="text" name="SearchPhrase" value="@ViewData["CurrentFilter"]" />
			<input type="submit" value="Search" class="btn btn-default" /> |
			<a asp-action="Index">Back to Full List</a>
		</p>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.First().Name)</a></th>
			<th><a asp-action="Index" asp-route-sortOrder="@ViewData["AbrvSortParm"]">@Html.DisplayNameFor(model => model.First().Abrv)</a></th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var make in Model)
		{
			<tr>
				<td>@make.Id</td>
				<td>@make.Name</td>
				<td>@make.Abrv</td>
				<td><a href="VehicleMake/Update/@make.Id">edit</a></td>
			</tr>
		}
	</tbody>
</table>

@{
	var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
	Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
	Next
</a>

@*@model L2MVC.MVC.Models.VehicleMakeViewModel[]
@{
}

<h1>Makers</h1>

@using (Html.BeginForm())
{
	<p>
		Find: @Html.TextBox("Search")
		<input type="submit" value="Search" />
	</p>
}

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
			<th>@Html.ActionLink("Abrv", "Index", new { sortOrder = ViewBag.AbrvSortParm })</th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var make in Model)
		{
		<tr>
			<td>@make.Id</td>
			<td>@make.Name</td>
			<td>@make.Abrv</td>
			<td><a href="VehicleMake/Update/@make.Id">edit</a></td>
		</tr>
		}
	</tbody>
</table>*@